<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{EditTask}"></title>
</head>
<body>
<header th:replace="fragments/header"></header>
<form th:action="@{/tasks/edit/{id}}" th:object="${Task}" method="post">
    <label th:text="#{Title}"></label>
    <input type="text" th:field="*{title}" th:placeholder="#{Title}"/>
    <label th:text="#{DueDate}"></label>
    <input type="datetime-local" th:field="*{date}" th:placeholder="#{DueDate}"/>
    <label th:text="#{Description}"></label>
    <input type="text" th:field="*{description}" th:placeholder="#{Description}"/>
    <input type="hidden" th:field="*{id}">
    <button type="submit" th:field="action" th:text="#{Create}"></button>
</form>
</body>
</html>
